<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REDLI WEBAPP</title>
</head>
<body><center>
   <h3>Tracking The END Face of URLs</h3>
   <img src="https://firebasestorage.googleapis.com/v0/b/ytidownloads.appspot.com/o/output-onlinetexttools.png?alt=media&token=c8dfe72e-897e-443b-828f-b43c5ff50850" width="300" height="250">
   <p>Have you ever wondered: Where does this link go? The REDLI Tool follows <br>
    the path of the URL. It allows you to see the complete path a redirected<br>
    URL goes through. It will show you the full redirection path of URLs, shortened
    links, or tiny URLs.
<p>This is Your IP Address {{ count }} </p>
<button><a href="/phtracker">PHONE NUMBER TRACKER</a></button>
</p>
<form action="/track" method="post">
    <p>Enter URL</p><input type="url" name="user_url" placeholder="Enter URL">
    <input type="submit" value="TRACK">
    <button><a href="/helpline">HELPLINE</a></button>
</form>
    <button><a href="/shorturl">URL SHORTENER</a></button>
</center>
</body>
</html>
