<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REDLI TRACKING</title>
</head>
<body><center>
<h2> Tracking the PHONE NUMBER</h2>
    <img src="https://firebasestorage.googleapis.com/v0/b/ytidownlods.appspot.com/o/redli.png?alt=media&token=90feb815-4e75-44a6-9270-dffc90bc2bf1" width="300" height="250">
    <h4>The Info Of The NUMBER!</h4>
    <h4>NUMBER: {{ number }} </h4>
    <h4>DISCRIPTION : {{location}}</h4>
    <h4>carrier name : {{crname}}</h4>

<button><a href="/">GO TO HOME</a> </button></center>
</body>
</html>