<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REDLI TRACKING</title>
</head>
<body><center>
<h2> Tracking the PHONE NUMBER</h2>
    <img src="https://firebasestorage.googleapis.com/v0/b/ytidownloads.appspot.com/o/output-onlinetexttools.png?alt=media&token=c8dfe72e-897e-443b-828f-b43c5ff50850" width="300" height="250">
    <h4>The Info Of The NUMBER!</h4>
    <h4>NUMBER: {{ number }} </h4>
    <h4>DISCRIPTION : {{location}}</h4>
    <h4>carrier name : {{crname}}</h4>

<button><a href="/">GO TO HOME</a> </button></center>
</body>
</html>
